extends ../layouts/default

block content 
	div#main-content
		h1 Audio
		br
		br
		h5 The Corn
		iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196029438&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')
		br
		hr
		h5 Bob the Builder
		iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/190679158&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')
		br
		hr
		h5 Oil Drum - So So Much
		iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153053653&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')


