extends ../layouts/default
include ../mixins/shows
include ../mixins/news


block content
	div#main-content
		.container#top-container
			br
			//-h1#site-title SEAN ON THE DRUMS
			div#bio

				img( id='main-img', src='/images/Sean on the Drums.jpg', width='334')

				p.bio-text Sean McGuinness 
		
			div#bio-right 
				p Sean McGuinness is an American musician living in Philadelphia. He plays drums in the bands Pissed Jeans and Rat Fist. 
				p He is a beer fan. Also a good vibe enthusiast.
				p: a(href='http://instagram.com/yumsean') Instagram
				p: a(href='https://twitter.com/thepissedjeans') Twitter
				hr
				h3 News
				+news(data.news.slice(0, 3), 'No current news.')
				if data.news.length > 3
					hr
					a(href='/news') More...
	
		//- h2 Latest
		div.section
			h3 Shows
			+shows(data.upcomingShows.slice(0, 3), 'No upcoming shows.')
			if data.upcomingShows.length > 3
				br
				a(href='/shows') More...

		//- div.section
		//- 	h3 News
		//- 	+news(data.news.slice(0, 3), 'No current news.')
		//- 	if data.news.length > 3
		//- 		hr
		//- 		a(href='/news') More...


