extends ../layouts/default
include ../mixins/shows


block content
		//-.container: .row
		div#bio
			//-h1#site-title SEAN ON THE DRUMS
			h4 Sean McGuinness
			div.frontImageCont

				img(src='/images/sean.jpg', width='334')

				p#bio-text Sean McGuinness is an American musician living in Philadelphia. He plays drums in the bands Pissed Jeans and Rat Fist. He is a beer fan. Also a good vibe enthusiast.

		
		h2 Latest
		div.section
			h3 Shows
			+shows(data.upcomingShows, 'No upcoming shows.')

