extends ../layouts/default

block content
	div#main-content
		h1 Video
	
		div#main-content
			div.embed-responsive.embed-responsive-16by9
				iframe(class='embed-responsive-item', width='560', height='315', src='https://www.youtube.com/embed/u5iIYuz_bME', frameborder='0', allowfullscreen='')
			br
			br
			div.embed-responsive.embed-responsive-16by9
				iframe(class='embed-responsive-item', width='560', height='315', src='https://www.youtube.com/embed/9i7aBnoaYPQ', frameborder='0', allowfullscreen='')
			br
			br
			div.embed-responsive.embed-responsive-16by9
				iframe(class='embed-responsive-item',width='560', height='315', src='https://www.youtube.com/embed/df5kId_eqso', frameborder='0', allowfullscreen='')
			br
			br
			div.embed-responsive.embed-responsive-16by9
				iframe(class='embed-responsive-item', width='560', height='315', src='https://www.youtube.com/embed/oDqz2NtVXqs', frameborder='0', allowfullscreen='')