body {
	font-family: "Open Sans" !important;
	font-size: 16px;
}
.release-row {
  display: inline-block;
}

.release-col {
  display: inline-block;
  margin: 10px;
}

#bio {
	width: 336px;
	display: inline-block;
	float: left;
}

.bio-text {
	padding: 8px;
}

#bio-right {
	display: inline-block;
	margin: 0px 15px 15px 15px;
	width: 340px;
}


.show, .section {
	padding-left: 20px;
}

.futureShow {
	color: #00C819;
}

.pastShow {
	color: #FF0D00;
}

#main-img {
	width: 100%;
}

#nav-col {
	/*padding-top: 89px;*/
	padding-top: 15px;

}

#main-content {
	display: inline-block;
	width: 700px;
	margin-top: 10px;
}

.frontImageCont {
	display: inline-block;
}

#left-nav > li > a {
	background-color: #fcfcfc;
}

#blog-list { 
	width: 100%;
 }

#site-title {
	text-align: center;
	font-family: "Lato", "Open Sans", "Sans serif";
	font-size: 50px;
}


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .navbar-default {
		border: none;
	}

  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


@media (max-width: 991px) {

	#nav-col {
		padding: 0px;
		margin: 0px;
		width: 100%;
	}


	#main-content, .release, #bio-right, #bio, #main-img {
		width: 100%;
	}

  #bio-right {
    margin: 0px;
  }


/*	.container {
		margin: 0px;
		width: 100%;
	}*/
	#site-title {
		display: none;
	}

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media(min-width: 992px) {
   #top-container {
    width: 742px;
  }
}